In [12]:
print('pattern A')
for i in range(1,7) :
    for j in range(1,i+1) :
        print(j,end=' ')
    print()

pattern A
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [15]:
print('pattern B')
for i in range(6,0,-1) :
    for j in range(1,i+1) :
        print(j,end=' ')
    print()

pattern B
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [16]:
112/16

7.0

In [26]:
tb = [[1,2,3],[4,5,6],[7,8,9]]
for x in tb :
    for y in x :
        print(y,end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [47]:
cst = {'a+':4.3, 'b':3.0}
a = 'b'
for k in cst.items():
    print("{0}은 {1:.2f}이다.".format(k[0],k[1]))

a+은 4.30이다.
b은 3.00이다.

In [54]:
n = int(input('int plz :'))
if n%2 == 0 :
    even =[n]
    odd = []
else :
    even =[]
    odd = [n]
print(even,odd,sep='\n')

int plz :2
[2]
[]

In [62]:
n1 = int(15000**(1/3)//1+1)
n2 =1
while n2**3<=15000 :
    n2+=1
print(n1,n2,sep='\n')

25
25

In [67]:
ls = eval(input('olny int list plz :'))
rst = []
for n in ls :
    if 100<n & n<200 :
        rst.append(n)
print(sum(rst))

olny int list plz :[2,3]
0

In [70]:
ls = eval(input('olny int list plz :'))
t = 0
for n in ls :
    if 100<n & n<200 :
        t+=n
print(t)

olny int list plz :[2,3]
0

In [68]:
ls = eval(input('olny int list plz :'))
even =[]
odd =[]
for n in ls :
    if n%2 :
        odd.append(n)
    else :
        even.append(n)
print(even,odd,sep='\n')

olny int list plz :[5, 100, 202, 4, 5, 99, 8, 7]
[100, 202, 4, 8]
[5, 5, 99, 7]

In [87]:
for i in range(1,6):
    print('  '*(6-i),end='')
    for j in range(1,i+1) :
        print(j,end=' ')
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [91]:
t = [ ['kim', 'lee', 'kim'], ['park', 'cho', 'sung'], ['kim', 'cho', 'lee', 'gang'] ]
ex = [ 'lee', 'cho', 'gang']
for i in t :
    for j in ex :
        if j in i :
            i.remove(j)
    print(i)

['kim', 'kim']
['park', 'sung']
['kim']

In [96]:
t = [ ['kim', 'lee', 'kim'], ['park', 'cho', 'sung'], ['kim', 'cho', 'lee', 'gang'] ]
ex = [ 'lee', 'cho', 'gang']
for i in t :
    print('[',end='')
    for j in i:
        if j in ex : 
            continue
        print(j,end=' ')
    print(']')

[kim kim ]
[park sung ]
[kim ]

In [109]:
for i in range(1,6) :
    print(' '*(5-i),end='')
    print('*'*(i*2-1))

    *
   ***
  *****
 *******
*********

In [132]:
ls = [ 'kin', 'kimseung', 'hwan', 'bumsoo' ]
order = []
for i in ls : 
    order.append((len(i),i))
order.sort(reverse=True)
result =[]
for j in order :
    result.append(j[1])
print(result)

['kimseung', 'bumsoo', 'hwan', 'kin']

In [133]:
ls = eval(input('list plz :'))
order = []
for i in ls : 
    order.append((len(i),i))
order.sort(reverse=True)
result =[]
for j in order :
    result.append(j[1])
print(result)

list plz :[ 'kin', 'kimseung', 'hwan', 'bumsoo' ]
['kimseung', 'bumsoo', 'hwan', 'kin']

In [140]:
ls = [99, 2, 100, 30, -1, 0, 1, 22, 35, 77, 12, 20, 30, 45, 20]
ls = set(ls)
r2 = []
r5 = []
r3 = []
r7 = []
for i in ls :
    if 1<i<100 :
        if i%2 ==0 : r2.append(i)
        if i%3 ==0 : r3.append(i)
        if i%5 ==0 : r5.append(i)
        if i%7 ==0 : r7.append(i)
print('multiplies of 2 : ',r2)

multiplies of 2 :  [2, 12, 20, 22, 30]

In [3]:
ls = eval(input('list plz :'))
ls = list(set(ls))
ls.sort()
r2 = [] ; r5 = [] ; r3 = [] ; r7 = []
for i in ls :
    if 1<i<100 :
        if i%2 ==0 : r2.append(i)
        if i%3 ==0 : r3.append(i)
        if i%5 ==0 : r5.append(i)
        if i%7 ==0 : r7.append(i)
print('multiplies of 2 : ',r2)
print('multiplies of 3 : ',r3)
print('multiplies of 5: ',r5)
print('multiplies of 7: ',r7)

list plz :[99, 2, 100, 30, -1, 0, 1, 22, 35, 77, 12, 20, 30, 45, 20]
multiplies of 2 :  [2, 12, 20, 22, 30]
multiplies of 3 :  [12, 30, 45, 99]
multiplies of 5:  [20, 30, 35, 45]
multiplies of 7:  [35, 77]

In [11]:
ls = eval(input('list plz :'))
ls = list(set(ls))
ls.sort()
r={}
for t in (2,3,5,7) :
    r[t]=[]
    for i in ls :
        if (1<i<100) & (i%t ==0) : r[t].append(i)
    print('multiplies of %s : '%t,r[t])

list plz : [99, 2, 100, 30, -1, 0, 1, 22, 35, 77, 12, 20, 30, 45, 20]
multiplies of 2 :  [2, 12, 20, 22, 30]
multiplies of 3 :  [12, 30, 45, 99]
multiplies of 5 :  [20, 30, 35, 45]
multiplies of 7 :  [35, 77]

In [4]:
print('ab\'cd')

ab'cd

In [6]:
'daD'.lower()

'dad'

In [10]:
']{:>3f}['.format(2.2)

']2.200000['

In [17]:
']{:^6}['.format('22')

']  22  ['

In [19]:
int('3')

3

In [1]:
id =input('id like ******-******* plz :')
l = id.split('-')
if l[1][0]=='1':
    g='Male'
elif  l[1][0]=='3':
    g='Female'
else :
    g='Unknown'
print('''Year : {0}
Month : {1}
Day : {2}
Gender : {3}'''.format(id[0:2],id[2:4],id[4:6],g))

id like ******-******* plz :950123-1234567
Year : 95
Month : 01
Day : 23
Gender : Male

In [3]:
s='a:b:c:d'
print(s.replace(':',','))

a,b,c,d

In [9]:
name = input('name:')
grade = float(input('grade:'))
print('{:*^11}님은 {:3.2f}점을 받았습니다.'.format(name,grade))
if grade >=60:
    print('합격입니다.')
else :
    print('불합격하였습니다. %2.2f점이 부족합니다.'%(60-grade))

name:lee
grade:3.2
****lee****님은 3.20점을 받았습니다.
불합격하였습니다. 56.80점이 부족합니다.

In [15]:
def price(**kwargs):
    for key, value in kwargs.items() : 
        print(key,'은(는) ',value,'원',sep='')

price(apple=2300, pizza=33000,한글=1000000)

apple은(는) 2300원
pizza은(는) 33000원
한글은(는) 1000000원