In [2]:
import pandas as pd

<img src="img/8강/그룹분석_groupby.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [7]:
# 실습 데이터 적재
data = pd.read_excel('data/인구수예제.xlsx')
data.head()

   도시  자치구    연도  남자인구  여자인구  총인구
0  서울  강남구  2013    70    54  124
1  서울  강남구  2014   135    74  209
2  서울  강남구  2015   138   133  271
3  서울  강남구  2016   131   135  266
4  서울  강남구  2017   144   102  246

In [5]:
# groupby() 실습
# 연도별 전체의 총인구수 구하기
data.groupby('연도').총인구.sum()

연도
2013    2231
2014    2310
2015    2547
2016    2498
2017    2357
Name: 총인구, dtype: int64

In [6]:
# 연도별 전체의 남자인구, 여자인구, 총인구 수 구하기
data.groupby('연도')[['남자인구', '여자인구', '총인구']].sum()

      남자인구  여자인구   총인구
연도
2013  1289   942  2231
2014  1219  1091  2310
2015  1288  1259  2547
2016  1326  1172  2498
2017  1183  1174  2357

In [8]:
# 자치구별로 평균 총인구수 구하기
data.groupby('자치구').총인구.mean()

자치구
강남구     223.2
도봉구     218.4
동래구     213.6
동작구     184.8
서대문구    203.4
송파구     178.4
수영구     193.0
영등포구    188.8
종로구     221.0
중구      191.6
해운대구    180.8
Name: 총인구, dtype: float64

In [12]:
# 도시/자치구별 평균 총인구수 구하기
data.groupby(['도시','자치구']).총인구.mean()

도시  자치구
부산  동래구     213.6
    수영구     193.0
    중구      183.4
    해운대구    180.8
서울  강남구     223.2
    도봉구     218.4
    동작구     184.8
    서대문구    203.4
    송파구     178.4
    영등포구    188.8
    종로구     221.0
    중구      199.8
Name: 총인구, dtype: float64

In [13]:
# 실습 1. 도시/자치구별 평균 남자인구와 여자인구수 구하기
data.groupby(['도시','자치구'])[['남자인구','여자인구']].mean()

          남자인구   여자인구
도시 자치구
부산 동래구   107.8  105.8
   수영구   105.4   87.6
   중구     93.4   90.0
   해운대구   83.6   97.2
서울 강남구   123.6   99.6
   도봉구   123.8   94.6
   동작구   109.6   75.2
   서대문구   98.0  105.4
   송파구    86.4   92.0
   영등포구  101.0   87.8
   종로구   128.6   92.4
   중구     99.8  100.0

In [21]:
# 실습 2. 도시별, 연도별로 총인구수 출력
data.groupby(['도시','연도']).총인구.sum()

도시  연도
부산  2013     681
    2014     806
    2015     821
    2016     783
    2017     763
서울  2013    1550
    2014    1504
    2015    1726
    2016    1715
    2017    1594
Name: 총인구, dtype: int64

In [24]:
# 계층 index를 보기 좋게 바꿈
data.groupby(['도시','연도']).총인구.sum().unstack()

연도  2013  2014  2015  2016  2017
도시
부산   681   806   821   783   763
서울  1550  1504  1726  1715  1594

<img src="img/8강/그룹분석_pivottable.jpg" alt="그룹분석_groupby" style="width: 800px;"/>

In [33]:
# index와 columns에 넣는 칼럼명은 groupby와 비슷한 효과
data.pivot_table(index='도시', columns='연도',
                 values='총인구',
                 aggfunc='sum')

연도  2013  2014  2015  2016  2017
도시
부산   681   806   821   783   763
서울  1550  1504  1726  1715  1594

In [47]:
# pivot_table() 실습
# 실습. 도시/자치구 별로 남자인구의 평균을 구한 후, 남자인구가 가장 많은 도시/자치구 5개를 출력하시오.
data.pivot_table(index=['도시', '자치구'],
                 values='남자인구', aggfunc=['mean', 'std'])\
    .sort_values(('mean', '남자인구'), ascending=False)[:5]

         mean        std
         남자인구       남자인구
도시 자치구
서울 종로구  128.6  27.573538
   도봉구  123.8  28.516662
   강남구  123.6  30.336447
   동작구  109.6  26.922110
부산 동래구  107.8  28.899827

In [57]:
# 실습. 남자와 여자인구수 차이의 평균을 구한 후, 가장 많이 차이나는 도시/자치구 3개를 찾으시오.
# Hint.abs() = 절대값을 구하는 함수
data['차이'] = abs(data.남자인구-data.여자인구)
data.pivot_table(index=['도시', '자치구'],
                 values='차이', aggfunc='mean')\
.sort_values('차이', ascending=False)[:3]

           차이
도시 자치구
서울 도봉구   52.8
부산 해운대구  48.0
서울 종로구   39.8