In [1]:
import pandas as pd
import numpy as np

# NC 다이노스 선수 데이터 분석
1. 데이터 적재 및 통합

In [2]:
data = pd.read_excel('data/NC Dinos.xlsx', sheet_name=None)
NC13, NC14, NC15 = data.values()
NC13['년도'] = 2013
NC14['년도'] = 2014
NC15['년도'] = 2015

In [9]:
nc = pd.concat([NC13,NC14,NC15],axis=0,ignore_index=True).drop('Unnamed: 0',axis=1)
nc.head()

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,년도
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013
3,나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50,2013
4,조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83,2013

## (실습 #1) 2013~2015년  선수별로 3년 간 평균 안타수를 구한 후, 평균 안타수가 가장 많은 상위 10명의 선수를 출력

In [26]:
sz1 = nc.groupby('선수명').안타.mean().sort_values(0,ascending=False)[:10]
sz1

선수명
테임즈    166.000000
나성범    146.333333
김종호    127.000000
이호준    123.333333
이종욱    122.000000
김태군    107.000000
손시헌     99.000000
박민우     97.666667
모창민     93.666667
지석훈     79.000000
Name: 안타, dtype: float64

## (실습 #2) 2013~2015년 3년 동안 선수들의 평균 안타수, 총 안타수, 선수로 뛴 시즌수 구하기
선수로 뛴 시즌수 = 해당 시즌의 선수 목록에 없다면 그 선수는 해당 시즌에 선수에 포함되지 않은 것임.

In [27]:
df2 = nc.pivot_table(index='선수명',values='안타',aggfunc=['mean','sum','count'])
df2

            mean  sum count
              안타   안타    안타
선수명
강구성     0.500000    1     2
강민국     0.000000    0     2
강진성     1.000000    1     1
권희동    63.000000   63     1
김동건     2.000000    2     1
김성욱     2.500000    5     2
김종찬     1.000000    1     1
김종호   127.000000  254     2
김준완     6.000000   12     2
김태군   107.000000  107     1
김태우     1.000000    1     1
김태진     0.000000    0     1
나성범   146.333333  439     3
노진혁     3.000000    3     1
마낙길     4.500000    9     2
모창민    93.666667  281     3
박명환*    0.000000    0     1
박민우    97.666667  293     3
박정준    24.500000   49     2
손시헌    99.000000  198     2
용덕한    12.000000   12     1
이상호    31.000000   31     1
이승호     0.000000    0     1
이종욱   122.000000  244     2
이창섭     0.000000    0     2
이현곤    38.000000   38     1
이호준   123.333333  370     3
조영훈    57.000000  171     3
조평호     9.666667   29     3
지석훈    79.000000  237     3
차화준    24.000000   24     1
최재원    10.500000   21     2
테임즈   166.000000  332     2
허준      5.000000    5     1

## (실습 #3) 실습 #1에서 구한 상위 10명의 타자들의 3년간 안타, 홈런, 타율을 출력하기

In [53]:
nc[[i in sz1.index for i in nc.선수명]][['선수명','안타','홈런','타율','년도']]\
.set_index(['선수명','년도']).unstack('년도').fillna('-')

      안타               홈런                타율
년도  2013 2014   2015 2013 2014  2015   2013   2014   2015
선수명
김종호  129    -  125.0    0    -   4.0  0.277      -  0.295
김태군    -    -  107.0    -    -   6.0      -      -  0.254
나성범   98  157  184.0   14   30  28.0  0.243  0.329  0.326
모창민  109  110   62.0   12   16   6.0  0.276  0.263  0.290
박민우   11  124  158.0    0    1   3.0  0.262  0.298  0.304
손시헌    -   90  108.0    -    5  13.0      -  0.293  0.245
이종욱    -  126  118.0    -    6   5.0      -  0.288  0.268
이호준  123  115  132.0   20   23  24.0  0.278  0.271  0.294
지석훈   68   58  111.0    3    6  11.0  0.220  0.274  0.267
테임즈    -  152  180.0    -   37  47.0      -  0.343  0.381

## (실습 #4) 3년 모두 뛴 선수들의 목록 구하기

## (실습 #5) 년도별 팀의 기록 (총 안타수, 총 홈런수, 총 도루수)을 출력

       도루    안타   홈런
년도
2013  133   814   63
2014  118  1039  139
2015  201  1380  158

##  (실습 #6) 조건 추가. 팀 타율도 함께 출력 
### 팀 타율은 선수 타율의 평균으로 가정

       도루    안타        타율   홈런
년도
2013  132   814  0.232895   63
2014  118  1039  0.206950  139
2015  201  1380  0.245550  158