In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# 7-1. 통계 함수
## 주요 통계 함수 목록
<img src="img/7강/통계함수.jpg" alt="통계함수" style="width: 400px;"/>

## 주요 함수 옵션
<img src="img/7강/주요함수옵션.jpg" alt="주요옵션" style="width: 400px;"/>

### ** axis는 통계함수 뿐만 아니라, 많은 함수에서 동일하게 적용됨. **

In [2]:
# 샘플 데이터 생성
np.random.seed(0)
df = pd.DataFrame(np.random.randint(50, 100, (5, 6)), 
                  columns=[[2016, 2016, 2016, 2017, 2017, 2017], ['영어','수학', '과학','영어','수학', '과학']], 
                  index = ['Kim','Park','Lee','Jung','Moon'])
df.index.set_names('학생명', inplace = True)
df.columns.set_names(['년도','과목'], inplace = True)
df.loc['Moon', (2016, '과학')] = np.nan

In [3]:
df

년도   2016           2017
과목     영어  수학    과학   영어  수학  과학
학생명
Kim    94  97  50.0   53  53  89
Park   59  69  71.0   86  73  56
Lee    74  74  62.0   51  88  89
Jung   73  96  74.0   67  87  75
Moon   63  58   NaN   70  66  55

In [ ]:
# 2016년 성적만 선택해서 df2016에 저장

In [ ]:
# 1) count() - NaN 값을 제외한 데이터의 갯수

In [ ]:
# 2) sum() - 값의 합을 계산
## 기본적으로 함수는 각 컬럼에 있는 로우(row)들의 값들로 수행됨. (기본값 axis =0) 
## 모든 통계 함수는 동일함.

In [ ]:
# 각 학생들의 과목 평균 구하기

In [ ]:
# 3) describe() - 각 컬럼에 대한 요약 통계

In [ ]:
# 실습 1.df 대상으로 년도별 과목별 평균 성적을 출력

In [ ]:
# 실습 2. df 대상으로 학생별로 모든 년도/과목에 대한 전체 평균을 출력

In [ ]:
# 실습 3. 년도별 학생별 평균 구하기 
# 컬럼명이 (2016, '평균')으로 2016년 학생별 평균을 저장.
# 컬럼명이 (2017, '평균')으로 2017년 학생별 평균을 저장.

# 7-2. 정렬
## * 데이터 정렬 : sort_values()
<img src="img/7강/데이터프레임정렬.jpg" alt="DataFrame.sort_values" style="width: 600px;"/>
## * 인덱스 정렬 : sort_index() - 인자는 sort_values()와 동일
### http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values

## 1) Series 정렬

In [ ]:
# Series 정렬을 위한 샘플 데이터
sr = Series([3,5,2,1,7,10], index = list('bcafed'))
sr

In [ ]:
# 로우 인덱스 라벨의 값으로 정렬

In [ ]:
# Series의 값으로 정렬 (기본값 = 오름차순)

In [ ]:
# Series의 값으로 내림차순 정렬

## 2) DataFrame 정렬

In [ ]:
# 학생명으로 정렬(row index로 정렬)

In [ ]:
# 컬럼 인덱스를 정렬하고자 할 때에는 axis 인자 활용

In [ ]:
#df2016을 수학성적으로 오름차순 정렬

In [ ]:
# df2016을 영어 성적으로 내림차순 정렬

In [ ]:
# 계층 색인 정렬

In [ ]:
# df를 2017년 수학 성적 기준으로 내림차순 정렬