In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

matplotlib.rcParams['font.family'].insert(0, 'anumGothic') 
%matplotlib inline

# openAPI 활용 및 json 데이터 읽기
## API : Application Programming Interface

서울시 데이터 포털에서 공공 API 활용하기
서울시 동별 인구통계 : http://data.seoul.go.kr/dataList/datasetView.do?infId=10043&srvType=S&serviceKind=2&currentPageNo=1

In [2]:
import requests

In [3]:
url = 'http://openapi.seoul.go.kr:8088'
api_key = 'sample'
return_format = 'json'
service_id = 'octastatapi10043'
start_idx = '1'
end_idx = '5'

request_url = '/'.join([url, api_key, return_format, service_id, start_idx, end_idx])

In [4]:
response = requests.get(request_url)

In [5]:
response.text

'{"octastatapi10043":{"list_total_count":1801,"RESULT":{"CODE":"INFO-000","MESSAGE":"정상 처리되었습니다"},"row":[{"GIGAN":"\ufeff2020.1-4","JACHIGU":"합계","DONG":"합계","SEDAE":"4,354,006","GYE_1":"10,013,781","NAMJA_1":"4,874,995","YEOJA_1":"5,138,786","GYE_2":"9,733,655","NAMJA_2":"4,742,217","YEOJA_2":"4,991,438","GYE_3":"280,126","NAMJA_3":"132,778","YEOJA_3":"147,348","SEDAEDANGINGU":"2.24","N_65SEISANGGORYEONGJA":"1,518,239"},{"GIGAN":"2020.1-4","JACHIGU":"종로구","DONG":"소계","SEDAE":"74,151","GYE_1":"161,984","NAMJA_1":"78,271","YEOJA_1":"83,713","GYE_2":"151,217","NAMJA_2":"73,704","YEOJA_2":"77,513","GYE_3":"10,767","NAMJA_3":"4,567","YEOJA_3":"6,200","SEDAEDANGINGU":"2.04","N_65SEISANGGORYEONGJA":"28,073"},{"GIGAN":"2020.1-4","JACHIGU":"종로구","DONG":"사직동","SEDAE":"4,668","GYE_1":"9,841","NAMJA_1":"4,469","YEOJA_1":"5,372","GYE_2":"9,553","NAMJA_2":"4,309","YEOJA_2":"5,244","GYE_3":"288","NAMJA_3":"160","YEOJA_3":"128","SEDAEDANGINGU":"2.05","N_65SEISANGGORYEONGJA":"1,818"},{"GIGAN":"2020.1-4","JACHIGU":"종로구","DONG":"삼청동","SEDAE":"1,375","GYE_1":"2,993","NAMJA_1":"1,435","YEOJA_1":"1,558","GYE_2":"2,749","NAMJA_2":"1,320","YEOJA_2":"1,429","GYE_3":"244","NAMJA_3":"115","YEOJA_3":"129","SEDAEDANGINGU":"2","N_65SEISANGGORYEONGJA":"679"},{"GIGAN":"2020.1-4","JACHIGU":"종로구","DONG":"부암동","SEDAE":"4,346","GYE_1":"10,597","NAMJA_1":"5,042","YEOJA_1":"5,555","GYE_2":"10,164","NAMJA_2":"4,835","YEOJA_2":"5,329","GYE_3":"433","NAMJA_3":"207","YEOJA_3":"226","SEDAEDANGINGU":"2.34","N_65SEISANGGORYEONGJA":"1,799"}]}}'

## json (Java Script Object Notation)
https://ko.wikipedia.org/wiki/JSON

In [6]:
sample = ' { \
    "이름": "김지아", \
    "나이": 25, \
    "성별": "여", \
    "주소": "서울특별시 양천구 목동",\
    "특기": ["농구", "도술"],\
    "가족관계": {"#": 2, "아버지": "홍판서", "어머니": "춘섬"},\
    "회사": "경기 수원시 팔달구 우만동"\
 }'

In [7]:
import json

In [8]:
js = json.loads(sample) # json형태의 str을 dict로 변경
js

{'이름': '김지아',
 '나이': 25,
 '성별': '여',
 '주소': '서울특별시 양천구 목동',
 '특기': ['농구', '도술'],
 '가족관계': {'#': 2, '아버지': '홍판서', '어머니': '춘섬'},
 '회사': '경기 수원시 팔달구 우만동'}

In [9]:
type(js)

dict

In [10]:
js['이름']

'김지아'

In [11]:
json_data = response.json()
json_data

{'octastatapi10043': {'list_total_count': 1801,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'GIGAN': '\ufeff2020.1-4',
    'JACHIGU': '합계',
    'DONG': '합계',
    'SEDAE': '4,354,006',
    'GYE_1': '10,013,781',
    'NAMJA_1': '4,874,995',
    'YEOJA_1': '5,138,786',
    'GYE_2': '9,733,655',
    'NAMJA_2': '4,742,217',
    'YEOJA_2': '4,991,438',
    'GYE_3': '280,126',
    'NAMJA_3': '132,778',
    'YEOJA_3': '147,348',
    'SEDAEDANGINGU': '2.24',
    'N_65SEISANGGORYEONGJA': '1,518,239'},
   {'GIGAN': '2020.1-4',
    'JACHIGU': '종로구',
    'DONG': '소계',
    'SEDAE': '74,151',
    'GYE_1': '161,984',
    'NAMJA_1': '78,271',
    'YEOJA_1': '83,713',
    'GYE_2': '151,217',
    'NAMJA_2': '73,704',
    'YEOJA_2': '77,513',
    'GYE_3': '10,767',
    'NAMJA_3': '4,567',
    'YEOJA_3': '6,200',
    'SEDAEDANGINGU': '2.04',
    'N_65SEISANGGORYEONGJA': '28,073'},
   {'GIGAN': '2020.1-4',
    'JACHIGU': '종로구',
    'DONG': '사직동',
    'SEDAE': '4,668',
    'GYE_1': '9,841',
    'NAMJA_1': '4,469',
    'YEOJA_1': '5,372',
    'GYE_2': '9,553',
    'NAMJA_2': '4,309',
    'YEOJA_2': '5,244',
    'GYE_3': '288',
    'NAMJA_3': '160',
    'YEOJA_3': '128',
    'SEDAEDANGINGU': '2.05',
    'N_65SEISANGGORYEONGJA': '1,818'},
   {'GIGAN': '2020.1-4',
    'JACHIGU': '종로구',
    'DONG': '삼청동',
    'SEDAE': '1,375',
    'GYE_1': '2,993',
    'NAMJA_1': '1,435',
    'YEOJA_1': '1,558',
    'GYE_2': '2,749',
    'NAMJA_2': '1,320',
    'YEOJA_2': '1,429',
    'GYE_3': '244',
    'NAMJA_3': '115',
    'YEOJA_3': '129',
    'SEDAEDANGINGU': '2',
    'N_65SEISANGGORYEONGJA': '679'},
   {'GIGAN': '2020.1-4',
    'JACHIGU': '종로구',
    'DONG': '부암동',
    'SEDAE': '4,346',
    'GYE_1': '10,597',
    'NAMJA_1': '5,042',
    'YEOJA_1': '5,555',
    'GYE_2': '10,164',
    'NAMJA_2': '4,835',
    'YEOJA_2': '5,329',
    'GYE_3': '433',
    'NAMJA_3': '207',
    'YEOJA_3': '226',
    'SEDAEDANGINGU': '2.34',
    'N_65SEISANGGORYEONGJA': '1,799'}]}}

In [12]:
type(json_data)

dict

In [13]:
pd.DataFrame(json_data['octastatapi10043']['row'])

,GIGAN,JACHIGU,DONG,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
0,﻿2020.1-4,합계,합계,"4,354,006","10,013,781","4,874,995","5,138,786","9,733,655","4,742,217","4,991,438","280,126","132,778","147,348",2.24,"1,518,239"
1,2020.1-4,종로구,소계,"74,151","161,984","78,271","83,713","151,217","73,704","77,513","10,767","4,567","6,200",2.04,"28,073"
2,2020.1-4,종로구,사직동,"4,668","9,841","4,469","5,372","9,553","4,309","5,244",288,160,128,2.05,"1,818"
3,2020.1-4,종로구,삼청동,"1,375","2,993","1,435","1,558","2,749","1,320","1,429",244,115,129,2,679
4,2020.1-4,종로구,부암동,"4,346","10,597","5,042","5,555","10,164","4,835","5,329",433,207,226,2.34,"1,799"